<ul>
  <li>Account</li>
  <li><%= link_to 'Change Password', locker_room.password_settings_path %></li>
</ul>

<h2>Account</h2>

<%= form_for @user, url: locker_room.user_settings_path, html: {novalidate: 'novalidate'} do |f| %>
<% if @user.errors.any? %>
<%= render 'locker_room/shared/errors', resource: @user %>
<% end %>
<%= render 'form', f: f %>
<p><%= f.submit 'Update Account' %></p>
<% end %>
