<h2>Signin</h2>

<%= form_tag locker_room.login_path, method: :post do %>
<p>
<%= label_tag :subdomain %><br>
<%= text_field_tag :subdomain %>
</p>
<p>
<%= submit_tag 'Continue' %>
</p>
<% end %>

<ul>
  <li><%= link_to 'Create new Team?', locker_room.registration_path %></li>
</ul>
