<p>
  <%= user_form.label :username %><br>
  <%= user_form.text_field :username %>
</p>
<p>
  <%= user_form.label :email %><br>
  <%= user_form.email_field :email %>
</p>
<p>
  <%= user_form.label :password %><br>
  <%= user_form.password_field :password %>
</p>
<p>
  <%= user_form.label :password_confirmation %><br>
  <%= user_form.password_field :password_confirmation %>
</p>
