<h2>Signup</h2>

<%= form_for @user, url: signup_path, method: :post do |user_form| %>
<%= user_form.fields_for :member do |member_fields| %>
<%= render "locker_room/account/members/form", member_form: member_fields %>
<% end %>
<%= render "form", user_form: user_form %>
<%= user_form.submit "Signup" %>
<% end %>
