<h2>Signup</h2>
<%= form_for @account, url:  signup_path, method: :post, html: {novalidate: "novalidate"} do |account_form| %>
<% if @account.errors.any? %>
<%= render "locker_room/shared/errors", resource: @account %>
<% end %>
<p>
  <%= account_form.label :name %><br>
  <%= account_form.text_field :name %>
</p>
<p>
  <%= account_form.label :subdomain %><br>
  <%= account_form.text_field :subdomain %>
</p>
<%= account_form.fields_for :owners do |owners_fields| %>
<%= render "locker_room/account/users/form", user_form: owners_fields %>
<% end %>
<%= account_form.submit %>
<% end %>
