<h2>Signup</h2>
<%= form_for(@account) do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :subdomain %><br>
  <%= f.text_field :subdomain %>
</p>
<%= f.fields_for :owner do |owner| %>
<%= render "locker_room/account/users/form", user: owner %>
<% end %>
<%= f.submit %>
<% end %>
