<h2>Signup</h2>
<%= form_for @team, url:  registration_path, method: :post, html: {novalidate: 'novalidate'} do |team_form| %>
<% if @team.errors.any? %>
<%= render 'locker_room/shared/errors', resource: @team %>
<% end %>
<p>
  <%= team_form.label :name %><br>
  <%= team_form.text_field :name %>
</p>
<p>
  <%= team_form.label :subdomain %><br>
  <%= team_form.text_field :subdomain %>
</p>
<%= team_form.fields_for :owners do |owners_fields| %>
<%= render 'locker_room/account/users/form', f: owners_fields %>
<% end %>
<%= team_form.submit %>
<% end %>
